{
  "openapi": "3.0.3",
  "info": {
    "title": "API's Conta Azul Pro",
    "version": "v2",
    "description": "API para gerenciamento de dados do ERP Conta Azul Pro"
  },
  "servers": [
    {
      "url": "https://api-v2.contaazul.com",
      "description": "Servidor de produção"
    }
  ],
  "security": [
    {
      "oAuth2": [
        "openid",
        "email",
        "profile",
        "aws.cognito.signin.user.admin"
      ]
    }
  ],
  "tags": [
    {
      "name": "Cobranças"
    },
    {
      "name": "Contratos"
    },
    {
      "name": "Centro de Custo"
    },
    {
      "name": "Categorias"
    },
    {
      "name": "Conta Financeira"
    },
    {
      "name": "Financeiro"
    },
    {
      "name": "Produto"
    },
    {
      "name": "Cadastro de Pessoas"
    },
    {
      "name": "Protocolo"
    },
    {
      "name": "Venda"
    }
  ],
  "paths": {
    "/v1/financeiro/eventos-financeiros/parcelas/{parcela_id}/baixa": {
      "post": {
        "summary": "Criação de Baixa",
        "description": "Criação de baixa dado uma parcela.",
        "parameters": [
          {
            "name": "parcela_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data_pagamento",
                  "conta_financeira",
                  "composicao_valor"
                ],
                "properties": {
                  "data_pagamento": {
                    "type": "string",
                    "format": "date",
                    "example": "2023-10-01",
                    "description": "Data do pagamento."
                  },
                  "composicao_valor": {
                    "type": "object",
                    "required": [
                      "valor_bruto"
                    ],
                    "properties": {
                      "multa": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor da multa, deve ser maior ou igual a zero."
                      },
                      "juros": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor dos juros, deve ser maior ou igual a zero."
                      },
                      "valor_bruto": {
                        "type": "number",
                        "format": "double",
                        "example": 1000,
                        "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                      },
                      "desconto": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor do desconto, deve ser maior ou igual a zero."
                      },
                      "taxa": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor da taxa, deve ser maior ou igual a zero."
                      }
                    }
                  },
                  "conta_financeira": {
                    "type": "string",
                    "format": "uuid",
                    "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                    "description": "Identificador único da conta financeira."
                  },
                  "metodo_pagamento": {
                    "type": "string",
                    "example": "CARTAO_CREDITO",
                    "description": "Método de pagamento.",
                    "enum": [
                      "DINHEIRO",
                      "CARTAO_CREDITO",
                      "BOLETO_BANCARIO",
                      "CARTAO_CREDITO_VIA_LINK",
                      "CHEQUE",
                      "CARTAO_DEBITO",
                      "TRANSFERENCIA_BANCARIA",
                      "OUTRO",
                      "CARTEIRA_DIGITAL",
                      "CASHBACK",
                      "CREDITO_LOJA",
                      "CREDITO_VIRTUA",
                      "DEPOSITO_BANCARIO"
                    ]
                  },
                  "observacao": {
                    "type": "string",
                    "example": "Payment for invoice #1234",
                    "description": "Observação."
                  },
                  "nsu": {
                    "type": "string",
                    "example": "1234567890",
                    "description": "Número sequencial único."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Baixa criado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único gerado automaticamente após a criação."
                    },
                    "versao": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1,
                      "description": "Versão da baixa."
                    },
                    "data_pagamento": {
                      "type": "string",
                      "format": "date",
                      "example": "2023-10-01",
                      "description": "Data do pagamento."
                    },
                    "composicao_valor": {
                      "type": "object",
                      "required": [
                        "valor_bruto"
                      ],
                      "properties": {
                        "multa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da multa, deve ser maior ou igual a zero."
                        },
                        "juros": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor dos juros, deve ser maior ou igual a zero."
                        },
                        "valor_bruto": {
                          "type": "number",
                          "format": "double",
                          "example": 1000,
                          "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                        },
                        "desconto": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor do desconto, deve ser maior ou igual a zero."
                        },
                        "taxa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da taxa, deve ser maior ou igual a zero."
                        }
                      }
                    },
                    "conta_financeira": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da conta financeira."
                    },
                    "metodo_pagamento": {
                      "type": "string",
                      "example": "CARTAO_CREDITO",
                      "description": "Método de pagamento.",
                      "enum": [
                        "DINHEIRO",
                        "CARTAO_CREDITO",
                        "BOLETO_BANCARIO",
                        "CARTAO_CREDITO_VIA_LINK",
                        "CHEQUE",
                        "CARTAO_DEBITO",
                        "TRANSFERENCIA_BANCARIA",
                        "OUTRO",
                        "CARTEIRA_DIGITAL",
                        "CASHBACK",
                        "CREDITO_LOJA",
                        "CREDITO_VIRTUA",
                        "DEPOSITO_BANCARIO"
                      ]
                    },
                    "observacao": {
                      "type": "string",
                      "example": "Payment for invoice #1234",
                      "description": "Observação."
                    },
                    "nsu": {
                      "type": "string",
                      "example": "1234567890",
                      "description": "Número sequencial único."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Financeiro"
        ]
      },
      "get": {
        "summary": "Lista de Baixas",
        "description": "Listagem de baixas dado o UUID da parcela.",
        "parameters": [
          {
            "name": "parcela_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de baixas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único da baixa."
                      },
                      "versao": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1,
                        "description": "Versão da baixa."
                      },
                      "data_pagamento": {
                        "type": "string",
                        "format": "date",
                        "example": "2023-10-01",
                        "description": "Data do pagamento."
                      },
                      "valor_composicao": {
                        "type": "object",
                        "required": [
                          "valor_bruto"
                        ],
                        "properties": {
                          "multa": {
                            "type": "number",
                            "format": "double",
                            "example": 0,
                            "description": "O valor da multa, deve ser maior ou igual a zero."
                          },
                          "juros": {
                            "type": "number",
                            "format": "double",
                            "example": 0,
                            "description": "O valor dos juros, deve ser maior ou igual a zero."
                          },
                          "valor_bruto": {
                            "type": "number",
                            "format": "double",
                            "example": 1000,
                            "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                          },
                          "desconto": {
                            "type": "number",
                            "format": "double",
                            "example": 0,
                            "description": "O valor do desconto, deve ser maior ou igual a zero."
                          },
                          "taxa": {
                            "type": "number",
                            "format": "double",
                            "example": 0,
                            "description": "O valor da taxa, deve ser maior ou igual a zero."
                          }
                        }
                      },
                      "conta_financeira": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único da conta financeira."
                      },
                      "id_reconciliacao": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único da reconciliação."
                      },
                      "id_parcela": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único da parcela."
                      },
                      "id_solicitacao_cobranca": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único da solicitação de cobrança."
                      },
                      "observacao": {
                        "type": "string",
                        "example": "Payment for invoice #1234",
                        "description": "Observação."
                      },
                      "metodo_pagamento": {
                        "type": "string",
                        "example": "CARTAO_CREDITO",
                        "description": "Método de pagamento.",
                        "enum": [
                          "DINHEIRO",
                          "CARTAO_CREDITO",
                          "BOLETO_BANCARIO",
                          "CARTAO_CREDITO_VIA_LINK",
                          "CHEQUE",
                          "CARTAO_DEBITO",
                          "TRANSFERENCIA_BANCARIA",
                          "OUTRO",
                          "CARTEIRA_DIGITAL",
                          "CASHBACK",
                          "CREDITO_LOJA",
                          "CREDITO_VIRTUA",
                          "DEPOSITO_BANCARIO",
                          "PIX_PAGAMENTO_INSTANTANEO",
                          "PROGRAMA_FIDELIDADE",
                          "SEM_PAGAMENTO",
                          "VALE_ALIMENTACAO",
                          "VALE_COMBUSTIVEL",
                          "VALE_PRESENTE",
                          "VALE_REFEICAO",
                          "PIX_COBRANCA",
                          "DEBITO_AUTOMATICO"
                        ]
                      },
                      "origem": {
                        "type": "string",
                        "example": "SALDO_CONTA_BANCARIA",
                        "description": "Origem.",
                        "enum": [
                          "LANCAMENTO_FINANCEIRO",
                          "DAS",
                          "FOLHA",
                          "TRANSFERENCIA",
                          "SALDO_CONTA_BANCARIA",
                          "VENDA",
                          "COMPRA",
                          "VENDA_AGENDADA",
                          "COMPRA_AGENDADA",
                          "IMPORTACAO_DOCUMENTO",
                          "IMPOSTO_RETIDO",
                          "SIC",
                          "NOTA_COMPRA",
                          "ANTECIPACAO",
                          "RENEGOCIACAO",
                          "HONORARIOS_CONTABEIS"
                        ]
                      },
                      "id_recibo_digital": {
                        "type": "string",
                        "format": "uuid",
                        "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                        "description": "Identificador único do recibo digital."
                      },
                      "tipo_evento_financeiro": {
                        "type": "string",
                        "example": "RECEITA",
                        "description": "Tipo de evento financeiro.",
                        "enum": [
                          "RECEITA",
                          "DESPESA"
                        ]
                      },
                      "nsu": {
                        "type": "string",
                        "example": "1234567890",
                        "description": "Número sequencial único."
                      },
                      "id_referencia": {
                        "type": "string",
                        "example": "REF1234",
                        "description": "Identificador único da referência."
                      },
                      "atualizado_em": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2023-10-01T12:00:00Z",
                        "description": "Data de atualização."
                      },
                      "anexos": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                            },
                            "referencia": {
                              "type": "string",
                              "example": "REF1234"
                            },
                            "nome": {
                              "type": "string",
                              "example": "Nome anexo"
                            },
                            "descricao": {
                              "type": "string",
                              "example": "Descrição anexo"
                            },
                            "tipo": {
                              "type": "string",
                              "example": "RECIBO_DIGITAL",
                              "enum": [
                                "RECIBO_DIGITAL",
                                "RECIBO"
                              ]
                            },
                            "tipo_conteudo": {
                              "type": "string",
                              "example": "FILE",
                              "enum": [
                                "FILE",
                                "URL"
                              ]
                            },
                            "url": {
                              "type": "string",
                              "example": "https://example.com/attachment.pdf"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/v1/financeiro/eventos-financeiros/parcelas/baixa/{baixa_id}": {
      "patch": {
        "summary": "Atualização de Baixa.",
        "description": "Atualiza uma baixa.",
        "parameters": [
          {
            "name": "baixa_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "versao"
                ],
                "properties": {
                  "versao": {
                    "type": "integer",
                    "format": "int64",
                    "example": 1,
                    "description": "Deve ser enviado a versão atual do registro. Este valor será incrementado após sucesso na atualização."
                  },
                  "data_pagamento": {
                    "type": "string",
                    "format": "date",
                    "example": "2023-10-01",
                    "description": "Data do pagamento."
                  },
                  "composicao_valor": {
                    "type": "object",
                    "required": [
                      "valor_bruto"
                    ],
                    "properties": {
                      "multa": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor da multa, deve ser maior ou igual a zero."
                      },
                      "juros": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor dos juros, deve ser maior ou igual a zero."
                      },
                      "valor_bruto": {
                        "type": "number",
                        "format": "double",
                        "example": 1000,
                        "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                      },
                      "desconto": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor do desconto, deve ser maior ou igual a zero."
                      },
                      "taxa": {
                        "type": "number",
                        "format": "double",
                        "example": 0,
                        "description": "O valor da taxa, deve ser maior ou igual a zero."
                      }
                    }
                  },
                  "conta_financeira": {
                    "type": "string",
                    "format": "uuid",
                    "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                    "description": "Identificador único da conta financeira."
                  },
                  "metodo_pagamento": {
                    "type": "string",
                    "example": "CARTAO_CREDITO",
                    "description": "Método de pagamento.",
                    "enum": [
                      "DINHEIRO",
                      "CARTAO_CREDITO",
                      "BOLETO_BANCARIO",
                      "CARTAO_CREDITO_VIA_LINK",
                      "CHEQUE",
                      "CARTAO_DEBITO",
                      "TRANSFERENCIA_BANCARIA",
                      "OUTRO",
                      "CARTEIRA_DIGITAL",
                      "CASHBACK",
                      "CREDITO_LOJA",
                      "CREDITO_VIRTUA",
                      "DEPOSITO_BANCARIO"
                    ]
                  },
                  "observacao": {
                    "type": "string",
                    "example": "Payment for invoice #1234",
                    "description": "Observação."
                  },
                  "nsu": {
                    "type": "string",
                    "example": "1234567890",
                    "description": "Número sequencial único."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Baixa atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único gerado automaticamente após a criação."
                    },
                    "versao": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1,
                      "description": "Versão da baixa."
                    },
                    "data_pagamento": {
                      "type": "string",
                      "format": "date",
                      "example": "2023-10-01",
                      "description": "Data do pagamento."
                    },
                    "composicao_valor": {
                      "type": "object",
                      "required": [
                        "valor_bruto"
                      ],
                      "properties": {
                        "multa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da multa, deve ser maior ou igual a zero."
                        },
                        "juros": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor dos juros, deve ser maior ou igual a zero."
                        },
                        "valor_bruto": {
                          "type": "number",
                          "format": "double",
                          "example": 1000,
                          "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                        },
                        "desconto": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor do desconto, deve ser maior ou igual a zero."
                        },
                        "taxa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da taxa, deve ser maior ou igual a zero."
                        }
                      }
                    },
                    "conta_financeira": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da conta financeira."
                    },
                    "metodo_pagamento": {
                      "type": "string",
                      "example": "CARTAO_CREDITO",
                      "description": "Método de pagamento.",
                      "enum": [
                        "DINHEIRO",
                        "CARTAO_CREDITO",
                        "BOLETO_BANCARIO",
                        "CARTAO_CREDITO_VIA_LINK",
                        "CHEQUE",
                        "CARTAO_DEBITO",
                        "TRANSFERENCIA_BANCARIA",
                        "OUTRO",
                        "CARTEIRA_DIGITAL",
                        "CASHBACK",
                        "CREDITO_LOJA",
                        "CREDITO_VIRTUA",
                        "DEPOSITO_BANCARIO"
                      ]
                    },
                    "observacao": {
                      "type": "string",
                      "example": "Payment for invoice #1234",
                      "description": "Observação."
                    },
                    "nsu": {
                      "type": "string",
                      "example": "1234567890",
                      "description": "Número sequencial único."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Financeiro"
        ]
      },
      "delete": {
        "summary": "Remoção de Baixa",
        "description": "Remove uma baixa pelo UUID.",
        "parameters": [
          {
            "name": "baixa_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
          }
        ],
        "responses": {
          "200": {
            "description": "Baixa removida com sucesso!"
          },
          "404": {
            "description": "Baixa não encontrado."
          }
        },
        "tags": [
          "Financeiro"
        ]
      },
      "get": {
        "summary": "Busca de Baixa",
        "description": "Busca um baixa pelo UUID.",
        "parameters": [
          {
            "name": "baixa_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
          }
        ],
        "responses": {
          "200": {
            "description": "Detalhes do baixa",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da baixa."
                    },
                    "versao": {
                      "type": "integer",
                      "format": "int64",
                      "example": 1,
                      "description": "Versão da baixa."
                    },
                    "data_pagamento": {
                      "type": "string",
                      "format": "date",
                      "example": "2023-10-01",
                      "description": "Data do pagamento."
                    },
                    "valor_composicao": {
                      "type": "object",
                      "required": [
                        "valor_bruto"
                      ],
                      "properties": {
                        "multa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da multa, deve ser maior ou igual a zero."
                        },
                        "juros": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor dos juros, deve ser maior ou igual a zero."
                        },
                        "valor_bruto": {
                          "type": "number",
                          "format": "double",
                          "example": 1000,
                          "description": "O valor bruto, deve ser informado e maior ou igual a zero."
                        },
                        "desconto": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor do desconto, deve ser maior ou igual a zero."
                        },
                        "taxa": {
                          "type": "number",
                          "format": "double",
                          "example": 0,
                          "description": "O valor da taxa, deve ser maior ou igual a zero."
                        }
                      }
                    },
                    "conta_financeira": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da conta financeira."
                    },
                    "id_reconciliacao": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da reconciliação."
                    },
                    "id_parcela": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da parcela."
                    },
                    "id_solicitacao_cobranca": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da solicitação de cobrança."
                    },
                    "observacao": {
                      "type": "string",
                      "example": "Payment for invoice #1234",
                      "description": "Observação."
                    },
                    "metodo_pagamento": {
                      "type": "string",
                      "example": "CARTAO_CREDITO",
                      "description": "Método de pagamento.",
                      "enum": [
                        "DINHEIRO",
                        "CARTAO_CREDITO",
                        "BOLETO_BANCARIO",
                        "CARTAO_CREDITO_VIA_LINK",
                        "CHEQUE",
                        "CARTAO_DEBITO",
                        "TRANSFERENCIA_BANCARIA",
                        "OUTRO",
                        "CARTEIRA_DIGITAL",
                        "CASHBACK",
                        "CREDITO_LOJA",
                        "CREDITO_VIRTUA",
                        "DEPOSITO_BANCARIO",
                        "PIX_PAGAMENTO_INSTANTANEO",
                        "PROGRAMA_FIDELIDADE",
                        "SEM_PAGAMENTO",
                        "VALE_ALIMENTACAO",
                        "VALE_COMBUSTIVEL",
                        "VALE_PRESENTE",
                        "VALE_REFEICAO",
                        "PIX_COBRANCA",
                        "DEBITO_AUTOMATICO"
                      ]
                    },
                    "origem": {
                      "type": "string",
                      "example": "SALDO_CONTA_BANCARIA",
                      "description": "Origem.",
                      "enum": [
                        "LANCAMENTO_FINANCEIRO",
                        "DAS",
                        "FOLHA",
                        "TRANSFERENCIA",
                        "SALDO_CONTA_BANCARIA",
                        "VENDA",
                        "COMPRA",
                        "VENDA_AGENDADA",
                        "COMPRA_AGENDADA",
                        "IMPORTACAO_DOCUMENTO",
                        "IMPOSTO_RETIDO",
                        "SIC",
                        "NOTA_COMPRA",
                        "ANTECIPACAO",
                        "RENEGOCIACAO",
                        "HONORARIOS_CONTABEIS"
                      ]
                    },
                    "id_recibo_digital": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único do recibo digital."
                    },
                    "tipo_evento_financeiro": {
                      "type": "string",
                      "example": "RECEITA",
                      "description": "Tipo de evento financeiro.",
                      "enum": [
                        "RECEITA",
                        "DESPESA"
                      ]
                    },
                    "nsu": {
                      "type": "string",
                      "example": "1234567890",
                      "description": "Número sequencial único."
                    },
                    "id_referencia": {
                      "type": "string",
                      "example": "REF1234",
                      "description": "Identificador único da referência."
                    },
                    "atualizado_em": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2023-10-01T12:00:00Z",
                      "description": "Data de atualização."
                    },
                    "anexos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "referencia": {
                            "type": "string",
                            "example": "REF1234"
                          },
                          "nome": {
                            "type": "string",
                            "example": "Nome anexo"
                          },
                          "descricao": {
                            "type": "string",
                            "example": "Descrição anexo"
                          },
                          "tipo": {
                            "type": "string",
                            "example": "RECIBO_DIGITAL",
                            "enum": [
                              "RECIBO_DIGITAL",
                              "RECIBO"
                            ]
                          },
                          "tipo_conteudo": {
                            "type": "string",
                            "example": "FILE",
                            "enum": [
                              "FILE",
                              "URL"
                            ]
                          },
                          "url": {
                            "type": "string",
                            "example": "https://example.com/attachment.pdf"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Baixa não encontrada."
          }
        },
        "tags": [
          "Financeiro"
        ]
      }
    },
    "/v1/financeiro/eventos-financeiros/contas-a-receber/cobranca/{id_cobranca}": {
      "get": {
        "summary": "Buscar cobrança por ID",
        "description": "Retorna os detalhes de uma cobrança específica pelo ID.",
        "parameters": [
          {
            "name": "id_cobranca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identificador único da cobrança."
          }
        ],
        "responses": {
          "200": {
            "description": "Cobrança encontrada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da cobrança."
                    },
                    "url": {
                      "type": "string",
                      "example": "http://www.exemplo.com.br",
                      "description": "Url da cobrança."
                    },
                    "status": {
                      "type": "string",
                      "example": "AGUARDANDO_CONFIRMACAO",
                      "enum": [
                        "AGUARDANDO_CONFIRMACAO",
                        "EM_CANCELAMENTO",
                        "REGISTRADO",
                        "QUITADO",
                        "CANCELADO",
                        "INVALIDO",
                        "EXPIRADO",
                        "FALHA_EMISSAO",
                        "FALHA_CANCELAR",
                        "REMESSA_GERADO",
                        "REMESSA_PENDENTE",
                        "PAGO",
                        "EXTORNADO"
                      ],
                      "description": "Status da cobrança."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Cobrança não encontrada"
          }
        },
        "tags": [
          "Cobranças"
        ]
      },
      "delete": {
        "summary": "Cancelar cobrança por ID",
        "description": "Cancela uma cobrança específica pelo ID.",
        "parameters": [
          {
            "name": "id_cobranca",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Identificador único da cobrança."
          }
        ],
        "responses": {
          "200": {
            "description": "Cobrança cancelada com sucesso"
          },
          "404": {
            "description": "Cobrança não encontrada"
          }
        },
        "tags": [
          "Cobranças"
        ]
      }
    },
    "/v1/financeiro/eventos-financeiros/contas-a-receber/gerar-cobranca": {
      "post": {
        "summary": "Geração de cobrança",
        "description": "Gera uma cobrança",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "conta_bancaria",
                  "descricao_fatura",
                  "id_parcela",
                  "data_vencimento",
                  "tipo",
                  "atributos"
                ],
                "properties": {
                  "conta_bancaria": {
                    "type": "string",
                    "format": "uuid",
                    "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                    "description": "Identificador único para a conta bancária."
                  },
                  "descricao_fatura": {
                    "type": "string",
                    "example": "Payment for invoice #1234",
                    "description": "Descrição da fatura."
                  },
                  "id_parcela": {
                    "type": "string",
                    "format": "uuid",
                    "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                    "description": "Identificador único para a parcela."
                  },
                  "data_vencimento": {
                    "type": "string",
                    "format": "date",
                    "example": "2023-10-10",
                    "description": "Data de vencimento da cobrança."
                  },
                  "tipo": {
                    "type": "string",
                    "example": "LINK_PAGAMENTO",
                    "description": "Tipo da cobrança.",
                    "enum": [
                      "LINK_PAGAMENTO",
                      "PIX_COBRANCA",
                      "BOLETO"
                    ]
                  },
                  "atributos": {
                    "type": "object",
                    "properties": {
                      "desconto_antecipado": {
                        "type": "object",
                        "required": [
                          "dias_antes_vencer"
                        ],
                        "properties": {
                          "valor": {
                            "type": "number",
                            "format": "double",
                            "example": 10,
                            "description": "Valor do desconto antecipado."
                          },
                          "percentual": {
                            "type": "number",
                            "format": "double",
                            "example": 10,
                            "description": "Percentual do desconto antecipado."
                          },
                          "dias_antes_vencer": {
                            "type": "integer",
                            "example": 10,
                            "description": "Dias antes do vencimento para aplicar o desconto antecipado."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cobrança gerada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                      "description": "Identificador único da cobrança."
                    },
                    "url": {
                      "type": "string",
                      "example": "http://www.exemplo.com.br",
                      "description": "Url da cobrança."
                    },
                    "status": {
                      "type": "string",
                      "example": "AGUARDANDO_CONFIRMACAO",
                      "enum": [
                        "AGUARDANDO_CONFIRMACAO",
                        "EM_CANCELAMENTO",
                        "REGISTRADO",
                        "QUITADO",
                        "CANCELADO",
                        "INVALIDO",
                        "EXPIRADO",
                        "FALHA_EMISSAO",
                        "FALHA_CANCELAR",
                        "REMESSA_GERADO",
                        "REMESSA_PENDENTE",
                        "PAGO",
                        "EXTORNADO"
                      ],
                      "description": "Status da cobrança."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Cobranças"
        ]
      }
    },
    "/v1/contratos": {
      "post": {
        "summary": "Cria um novo contrato",
        "description": "Cria um novo contrato com base nos dados fornecidos.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_cliente",
                  "itens",
                  "condicao_pagamento",
                  "termos"
                ],
                "properties": {
                  "id_cliente": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do cliente",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "data_emissao": {
                    "type": "string",
                    "format": "date",
                    "description": "Data de emissão",
                    "example": "2021-01-01"
                  },
                  "id_categoria": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID da categoria",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "id_centro_custo": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do centro de custo",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "id_vendedor": {
                    "type": "string",
                    "format": "uuid",
                    "description": "ID do vendedor",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "observacoes": {
                    "type": "string",
                    "description": "Observações do pagamento"
                  },
                  "observacoes_pagamento": {
                    "type": "string",
                    "description": "Observações complementares da nota fiscal",
                    "example": "Pagamento à vista"
                  },
                  "termos": {
                    "type": "object",
                    "required": [
                      "tipo_frequencia",
                      "tipo_expiracao",
                      "data_inicio",
                      "data_fim",
                      "numero"
                    ],
                    "properties": {
                      "tipo_frequencia": {
                        "type": "string",
                        "enum": [
                          "MENSAL",
                          "ANUAL"
                        ]
                      },
                      "tipo_expiracao": {
                        "type": "string",
                        "enum": [
                          "DATA",
                          "NUNCA"
                        ]
                      },
                      "data_inicio": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de início",
                        "example": "2021-01-01"
                      },
                      "data_fim": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de fim",
                        "example": "2021-12-31"
                      },
                      "intervalo_frequencia": {
                        "type": "integer",
                        "description": "Intervalo de frequência deve ser sempre maior igual a 1",
                        "example": 1
                      },
                      "dia_emissao_venda": {
                        "type": "integer",
                        "description": "Dia de emissão do contrato",
                        "example": 1
                      },
                      "numero": {
                        "type": "integer",
                        "description": "O número do contrato deve ser único.",
                        "example": 1
                      }
                    }
                  },
                  "composicao_de_valor": {
                    "type": "object",
                    "properties": {
                      "frete": {
                        "type": "number",
                        "format": "double",
                        "description": "Valor do frete",
                        "example": 10
                      },
                      "desconto": {
                        "type": "object",
                        "required": [
                          "tipo",
                          "valor"
                        ],
                        "properties": {
                          "tipo": {
                            "type": "string",
                            "description": "Tipo de desconto",
                            "enum": [
                              "PORCENTAGEM",
                              "VALOR"
                            ]
                          },
                          "valor": {
                            "type": "number",
                            "format": "double",
                            "description": "Valor do desconto",
                            "example": 10
                          }
                        }
                      }
                    }
                  },
                  "condicao_pagamento": {
                    "type": "object",
                    "required": [
                      "dia_vencimento",
                      "primeira_data_vencimento"
                    ],
                    "properties": {
                      "tipo_pagamento": {
                        "type": "string",
                        "description": "Tipo de pagamento",
                        "enum": [
                          "BOLETO_BANCARIO",
                          "CARTAO_CREDITO",
                          "CARTAO_DEBITO",
                          "CARTEIRA_DIGITAL",
                          "CASHBACK",
                          "CHEQUE",
                          "CREDITO_LOJA",
                          "CREDITO_VIRTUAL",
                          "DEPOSITO_BANCARIO",
                          "DINHEIRO",
                          "OUTRO",
                          "DEBITO_AUTOMATICO",
                          "CARTAO_CREDITO_VIA_LINK",
                          "PIX_PAGAMENTO_INSTANTANEO",
                          "PIX_COBRANCA",
                          "PROGRAMA_FIDELIDADE",
                          "SEM_PAGAMENTO",
                          "TRANSFERENCIA_BANCARIA",
                          "VALE_ALIMENTACAO",
                          "VALE_COMBUSTIVEL",
                          "VALE_PRESENTE",
                          "VALE_REFEICAO"
                        ],
                        "example": "BOLETO"
                      },
                      "id_conta_financeira": {
                        "type": "string",
                        "format": "uuid",
                        "description": "ID da conta financeira",
                        "example": "123e4567-e89b-12d3-a456-426614174000"
                      },
                      "dia_vencimento": {
                        "type": "integer",
                        "description": "Dia de vencimento",
                        "example": 10
                      },
                      "primeira_data_vencimento": {
                        "type": "string",
                        "format": "date",
                        "description": "Primeira data de vencimento",
                        "example": "2021-01-10"
                      }
                    }
                  },
                  "itens": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "id",
                        "quantidade",
                        "valor"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "ID do item",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        },
                        "quantidade": {
                          "type": "integer",
                          "description": "Quantidade do produto",
                          "example": 10
                        },
                        "descricao": {
                          "type": "string",
                          "description": "Descrição do produto",
                          "example": "Produto 1"
                        },
                        "valor": {
                          "type": "number",
                          "format": "double",
                          "description": "Valor unitário do item",
                          "example": 100
                        },
                        "valor_custo": {
                          "type": "number",
                          "format": "double",
                          "description": "Valor de custo do item",
                          "example": 100
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contrato criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID do contrato",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "id_legado": {
                      "type": "integer",
                      "format": "int64",
                      "description": "ID legado",
                      "example": 1234
                    },
                    "id_venda": {
                      "type": "string",
                      "format": "uuid",
                      "description": "ID da venda",
                      "example": "6bac0a7f-0422-48a9-86ea-0b1f0a6f9db9"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "tags": [
          "Contratos"
        ]
      }
    },
    "/v1/centro-de-custo": {
      "summary": "Endpoint de Centros de Custo",
      "get": {
        "summary": "Procura e retorna os centros de custos",
        "description": "Procura e retorna os centros de custos que atendam às condições do filtro aplicado",
        "parameters": [
          {
            "in": "query",
            "name": "pagina",
            "description": "Número da página",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "tamanho_pagina",
            "description": "Tamanho da página",
            "schema": {
              "type": "number"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "busca",
            "description": "Busca por nome ou código",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "filtro_rapido",
            "description": "Filtro rápido para itens ativos, inativos ou todos.",
            "schema": {
              "type": "string",
              "enum": [
                "ATIVO",
                "INATIVO",
                "TODOS"
              ]
            },
            "required": false
          },
          {
            "in": "query",
            "name": "campo_ordenado_ascendente",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "in": "query",
            "name": "campo_ordenado_descendente",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de centros de custo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "itens_totais": {
                      "type": "integer",
                      "example": 6
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "codigo": {
                            "type": "string",
                            "nullable": true,
                            "example": "codigo_inserido_pelo_usuario"
                          },
                          "nome": {
                            "type": "string",
                            "example": "Centro de custo do Robinho"
                          },
                          "ativo": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      }
                    },
                    "totais": {
                      "type": "object",
                      "properties": {
                        "ativo": {
                          "type": "integer",
                          "example": 6
                        },
                        "inativo": {
                          "type": "integer",
                          "example": 0
                        },
                        "todos": {
                          "type": "integer",
                          "example": 6
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Centro de Custo"
        ]
      },
      "post": {
        "summary": "Cria um novo centro de custo",
        "description": "Cria um novo centro de custo e retorna os detalhes do centro de custo criado.",
        "requestBody": {
          "description": "Dados do centro de custo a ser criado",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nome"
                ],
                "properties": {
                  "codigo": {
                    "type": "string",
                    "nullable": true,
                    "example": "codigo_inserido_pelo_usuario"
                  },
                  "nome": {
                    "type": "string",
                    "example": "Centro de custo do Robinho"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Centro de custo criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                    },
                    "codigo": {
                      "type": "string",
                      "nullable": true,
                      "example": "codigo_inserido_pelo_usuario"
                    },
                    "nome": {
                      "type": "string",
                      "example": "Centro de custo do Robinho"
                    },
                    "ativo": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida"
          },
          "500": {
            "description": "Erro interno do servidor"
          }
        },
        "tags": [
          "Centro de Custo"
        ]
      }
    },
    "/v1/financeiro/eventos-financeiros/{id_evento}/parcelas": {
      "summary": "Endpoint de parcelas por evento",
      "get": {
        "summary": "Busca as parcelas de acordo com o id do evento",
        "description": "Retorna as parcelas de acordo com o id do evento informado",
        "parameters": [
          {
            "name": "id_evento",
            "in": "path",
            "description": "UUID ou ID legado do evento.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de Parcelas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evento": {
                      "type": "object",
                      "properties": {
                        "data_competencia": {
                          "type": "string",
                          "format": "date",
                          "example": "01/01/2030"
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                        },
                        "condicao_pagamento": {
                          "type": "object",
                          "properties": {
                            "quantidade_parcelas": {
                              "type": "integer",
                              "example": 10
                            },
                            "montante_fixo": {
                              "type": "boolean",
                              "example": false
                            }
                          }
                        },
                        "referencia": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                            },
                            "revisao": {
                              "type": "string",
                              "example": 1
                            },
                            "origem": {
                              "type": "string",
                              "example": "LANCAMENTO_FINANCEIRO",
                              "enum": [
                                "LANCAMENTO_FINANCEIRO",
                                "DAS",
                                "FOLHA",
                                "TRANSFERENCIA",
                                "SALDO_CONTA_BANCARIA",
                                "VENDA",
                                "COMPRA",
                                "VENDA_AGENDADA",
                                "COMPRA_AGENDADA",
                                "IMPORTACAO_DOCUMENTO",
                                "IMPOSTO_RETIDO",
                                "SIC",
                                "NOTA_COMPRA",
                                "ANTECIPACAO",
                                "RENEGOCIACAO",
                                "HONORARIOS_CONTABEIS"
                              ]
                            }
                          }
                        },
                        "agendado": {
                          "type": "boolean",
                          "example": true
                        },
                        "tipo": {
                          "type": "string",
                          "example": "RECEITA",
                          "enum": [
                            "RECEITA",
                            "DESPESA"
                          ]
                        }
                      }
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                    },
                    "versao": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "referencia": {
                      "type": "string"
                    },
                    "indice": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1
                    },
                    "conciliado": {
                      "type": "boolean",
                      "example": true
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDENTE",
                      "enum": [
                        "PENDENTE",
                        "QUITADO",
                        "CANCELADO"
                      ]
                    },
                    "valor_pago": {
                      "type": "number",
                      "format": "double",
                      "example": 10
                    },
                    "perda": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string",
                          "format": "date",
                          "example": "2024-07-15"
                        },
                        "valor": {
                          "type": "number",
                          "example": 1.99
                        }
                      }
                    },
                    "nao_pago": {
                      "type": "number",
                      "format": "double",
                      "example": 5
                    },
                    "data_vencimento": {
                      "type": "string",
                      "format": "date",
                      "example": "01/01/2030"
                    },
                    "data_pagamento_previsto": {
                      "type": "string",
                      "format": "date",
                      "example": "01/01/2030"
                    },
                    "descricao": {
                      "type": "string",
                      "example": "bla bla bla"
                    },
                    "nota": {
                      "type": "string",
                      "example": "bla bla bla"
                    },
                    "conta_financeira": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                          "description": "Identificador único da conta financeira"
                        },
                        "banco": {
                          "type": "string",
                          "description": "Instituição bancária"
                        },
                        "codigo_banco": {
                          "type": "integer",
                          "description": "Código da instituição bancária"
                        },
                        "nome": {
                          "type": "string",
                          "description": "Nome da conta financeira"
                        },
                        "ativo": {
                          "type": "boolean",
                          "description": "Indica se a conta está ativa"
                        },
                        "tipo": {
                          "type": "string",
                          "description": "Tipo da conta",
                          "enum": [
                            "APLICACAO",
                            "CAIXINHA",
                            "CONTA_CORRENTE",
                            "CARTAO_CREDITO",
                            "INVESTIMENTO",
                            "OUTROS",
                            "MEIOS_RECEBIMENTO",
                            "POUPANCA",
                            "COBRANCAS_CONTA_AZUL",
                            "RECEBA_FACIL_CARTAO"
                          ]
                        },
                        "conta_padrao": {
                          "type": "boolean",
                          "description": "Indica se é a conta padrão"
                        },
                        "possui_config_boleto_bancario": {
                          "type": "boolean",
                          "description": "Indica se a conta possui configuração de boleto bancário"
                        },
                        "agencia": {
                          "type": "string",
                          "description": "Agência da conta"
                        },
                        "numero": {
                          "type": "string",
                          "description": "Número da conta"
                        }
                      }
                    },
                    "id_conta_financeira": {
                      "type": "string",
                      "format": "uuid",
                      "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                    },
                    "valor_composicao": {
                      "type": "object",
                      "properties": {
                        "multa": {
                          "type": "number",
                          "format": "double",
                          "example": 10
                        },
                        "juros": {
                          "type": "number",
                          "format": "double",
                          "example": 1
                        },
                        "valor_bruto": {
                          "type": "number",
                          "format": "double",
                          "example": 20
                        },
                        "desconto": {
                          "type": "number",
                          "format": "double",
                          "example": 0.1
                        },
                        "taxa": {
                          "type": "number",
                          "format": "double",
                          "example": 0.03
                        },
                        "valor_liquido": {
                          "type": "number",
                          "format": "double",
                          "example": 9
                        }
                      }
                    },
                    "metodo_pagamento": {
                      "type": "string",
                      "example": "DEPOSITO_BANCARIO",
                      "enum": [
                        "DINHEIRO",
                        "CARTAO_CREDITO",
                        "BOLETO_BANCARIO",
                        "CARTAO_CREDITO_VIA_LINK",
                        "CHEQUE",
                        "CARTAO_DEBITO",
                        "TRANSFERENCIA_BANCARIA",
                        "OUTRO",
                        "CARTEIRA_DIGITAL",
                        "CASHBACK",
                        "CREDITO_LOJA",
                        "CREDITO_VIRTUA",
                        "DEPOSITO_BANCARIO",
                        "PIX_PAGAMENTO_INSTANTANEO",
                        "PROGRAMA_FIDELIDADE",
                        "SEM_PAGAMENTO",
                        "VALE_ALIMENTACAO",
                        "VALE_COMBUSTIVEL",
                        "VALE_PRESENTE",
                        "VALE_REFEICAO",
                        "PIX_COBRANCA",
                        "DEBITO_AUTOMATICO"
                      ]
                    },
                    "nsu": {
                      "type": "string",
                      "example": null
                    },
                    "baixa_agendada": {
                      "type": "boolean",
                      "example": false
                    },
                    "baixas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "versao": {
                            "type": "integer",
                            "example": 1
                          },
                          "data_pagamento": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2030"
                          },
                          "valor_composicao": {
                            "type": "object",
                            "properties": {
                              "multa": {
                                "type": "number",
                                "format": "double",
                                "example": 10
                              },
                              "juros": {
                                "type": "number",
                                "format": "double",
                                "example": 1
                              },
                              "valor_bruto": {
                                "type": "number",
                                "format": "double",
                                "example": 20
                              },
                              "desconto": {
                                "type": "number",
                                "format": "double",
                                "example": 0.1
                              },
                              "taxa": {
                                "type": "number",
                                "format": "double",
                                "example": 0.03
                              },
                              "valor_liquido": {
                                "type": "number",
                                "format": "double",
                                "example": 9
                              }
                            }
                          },
                          "conta_financeira": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                                "description": "Identificador único da conta financeira"
                              },
                              "banco": {
                                "type": "string",
                                "description": "Instituição bancária"
                              },
                              "codigo_banco": {
                                "type": "integer",
                                "description": "Código da instituição bancária"
                              },
                              "nome": {
                                "type": "string",
                                "description": "Nome da conta financeira"
                              },
                              "ativo": {
                                "type": "boolean",
                                "description": "Indica se a conta está ativa"
                              },
                              "tipo": {
                                "type": "string",
                                "description": "Tipo da conta",
                                "enum": [
                                  "APLICACAO",
                                  "CAIXINHA",
                                  "CONTA_CORRENTE",
                                  "CARTAO_CREDITO",
                                  "INVESTIMENTO",
                                  "OUTROS",
                                  "MEIOS_RECEBIMENTO",
                                  "POUPANCA",
                                  "COBRANCAS_CONTA_AZUL",
                                  "RECEBA_FACIL_CARTAO"
                                ]
                              },
                              "conta_padrao": {
                                "type": "boolean",
                                "description": "Indica se é a conta padrão"
                              },
                              "possui_config_boleto_bancario": {
                                "type": "boolean",
                                "description": "Indica se a conta possui configuração de boleto bancário"
                              },
                              "agencia": {
                                "type": "string",
                                "description": "Agência da conta"
                              },
                              "numero": {
                                "type": "string",
                                "description": "Número da conta"
                              }
                            }
                          },
                          "id_reconciliacao": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "id_parcela": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "id_solicitacao_cobranca": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "observacao": {
                            "type": "string",
                            "example": "bla"
                          },
                          "metodo_pagamento": {
                            "type": "string",
                            "example": "DEPOSITO_BANCARIO",
                            "enum": [
                              "DINHEIRO",
                              "CARTAO_CREDITO",
                              "BOLETO_BANCARIO",
                              "CARTAO_CREDITO_VIA_LINK",
                              "CHEQUE",
                              "CARTAO_DEBITO",
                              "TRANSFERENCIA_BANCARIA",
                              "OUTRO",
                              "CARTEIRA_DIGITAL",
                              "CASHBACK",
                              "CREDITO_LOJA",
                              "CREDITO_VIRTUA",
                              "DEPOSITO_BANCARIO",
                              "PIX_PAGAMENTO_INSTANTANEO",
                              "PROGRAMA_FIDELIDADE",
                              "SEM_PAGAMENTO",
                              "VALE_ALIMENTACAO",
                              "VALE_COMBUSTIVEL",
                              "VALE_PRESENTE",
                              "VALE_REFEICAO",
                              "PIX_COBRANCA",
                              "DEBITO_AUTOMATICO"
                            ]
                          },
                          "origem": {
                            "type": "string",
                            "example": "LANCAMENTO_FINANCEIRO",
                            "enum": [
                              "LANCAMENTO_FINANCEIRO",
                              "DAS",
                              "FOLHA",
                              "TRANSFERENCIA",
                              "SALDO_CONTA_BANCARIA",
                              "VENDA",
                              "COMPRA",
                              "VENDA_AGENDADA",
                              "COMPRA_AGENDADA",
                              "IMPORTACAO_DOCUMENTO",
                              "IMPOSTO_RETIDO",
                              "SIC",
                              "NOTA_COMPRA",
                              "ANTECIPACAO",
                              "RENEGOCIACAO",
                              "HONORARIOS_CONTABEIS"
                            ]
                          },
                          "id_recibo_digital": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "tipo_evento_financeiro": {
                            "type": "string",
                            "example": "RECEITA"
                          },
                          "nsu": {
                            "type": "string",
                            "example": null
                          },
                          "id_referencia": {
                            "type": "string",
                            "example": null
                          },
                          "atualizado_em": {
                            "type": "string",
                            "format": "date-time",
                            "example": "01/01/2030"
                          },
                          "anexos": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                                },
                                "referencia": {
                                  "type": "string",
                                  "example": "bla"
                                },
                                "nome": {
                                  "type": "string",
                                  "example": "bla"
                                },
                                "descricao": {
                                  "type": "string",
                                  "example": "bla"
                                },
                                "tipo": {
                                  "type": "string",
                                  "example": "RECIBO_DIGITAL",
                                  "enum": [
                                    "RECIBO_DIGITAL",
                                    "RECIBO"
                                  ]
                                },
                                "tipo_conteudo": {
                                  "type": "string",
                                  "example": "FILE",
                                  "enum": [
                                    "FILE",
                                    "URL"
                                  ]
                                },
                                "url": {
                                  "type": "string",
                                  "example": "www.example.com"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "anexos": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "versao": {
                            "type": "integer",
                            "format": "int64",
                            "example": 1
                          },
                          "descricao": {
                            "type": "string",
                            "example": "bla bla"
                          },
                          "nome": {
                            "type": "string",
                            "example": "nome"
                          },
                          "url": {
                            "type": "string",
                            "example": "www.exemplo.com"
                          },
                          "tipo_conteudo": {
                            "type": "string",
                            "example": "URL"
                          },
                          "referencia": {
                            "type": "string",
                            "example": "alguma referencia"
                          },
                          "tipo_anexo": {
                            "type": "string",
                            "example": "BOLETO_BANCARIO",
                            "enum": [
                              "BOLETO_BANCARIO_RFB",
                              "BOLETO_BANCARIO",
                              "RECIBO",
                              "FATURA",
                              "OUTROS",
                              "RECIBO_DIGITAL"
                            ]
                          },
                          "id_parcela": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          }
                        }
                      }
                    },
                    "solicitacoes_cobrancas": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "versao": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "status_solicitacao_cobranca": {
                            "type": "string",
                            "example": "AGUARDANDO_CONFIRMACAO",
                            "enum": [
                              "AGUARDANDO_CONFIRMACAO",
                              "EM_CANCELAMENTO",
                              "REGISTRADO",
                              "QUITADO",
                              "CANCELADO",
                              "INVALIDO",
                              "EXPIRADO",
                              "FALHA_EMISSAO",
                              "FALHA_CANCELAR",
                              "REMESSA_GERADO",
                              "REMESSA_PENDENTE",
                              "PAGO",
                              "EXTORNADO"
                            ]
                          },
                          "valor_composicao": {
                            "type": "object",
                            "properties": {
                              "multa": {
                                "type": "number",
                                "format": "double",
                                "example": 10
                              },
                              "juros": {
                                "type": "number",
                                "format": "double",
                                "example": 1
                              },
                              "valor_bruto": {
                                "type": "number",
                                "format": "double",
                                "example": 20
                              },
                              "desconto": {
                                "type": "number",
                                "format": "double",
                                "example": 0.1
                              },
                              "taxa": {
                                "type": "number",
                                "format": "double",
                                "example": 0.03
                              },
                              "valor_liquido": {
                                "type": "number",
                                "format": "double",
                                "example": 9
                              }
                            }
                          },
                          "data_vencimento": {
                            "type": "string",
                            "format": "date"
                          },
                          "data_quitacao": {
                            "type": "string",
                            "format": "date",
                            "example": "01/01/2030"
                          },
                          "tipo_solicitacao_cobranca": {
                            "type": "string",
                            "example": "BOLETO",
                            "enum": [
                              "BOLETO",
                              "LINK_PAGAMENTO",
                              "BOLETO_REGISTRADO",
                              "PIX_COBRANCA"
                            ]
                          },
                          "id_cliente": {
                            "type": "string",
                            "format": "uuid",
                            "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                          },
                          "id_referencia": {
                            "type": "string",
                            "example": "id_referencia"
                          },
                          "url": {
                            "type": "string",
                            "example": "www.exemple.com"
                          },
                          "detalhe_erro": {
                            "type": "string",
                            "example": "bla bla"
                          },
                          "conta_financeira": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b",
                                "description": "Identificador único da conta financeira"
                              },
                              "banco": {
                                "type": "string",
                                "description": "Instituição bancária"
                              },
                              "codigo_banco": {
                                "type": "integer",
                                "description": "Código da instituição bancária"
                              },
                              "nome": {
                                "type": "string",
                                "description": "Nome da conta financeira"
                              },
                              "ativo": {
                                "type": "boolean",
                                "description": "Indica se a conta está ativa"
                              },
                              "tipo": {
                                "type": "string",
                                "description": "Tipo da conta",
                                "enum": [
                                  "APLICACAO",
                                  "CAIXINHA",
                                  "CONTA_CORRENTE",
                                  "CARTAO_CREDITO",
                                  "INVESTIMENTO",
                                  "OUTROS",
                                  "MEIOS_RECEBIMENTO",
                                  "POUPANCA",
                                  "COBRANCAS_CONTA_AZUL",
                                  "RECEBA_FACIL_CARTAO"
                                ]
                              },
                              "conta_padrao": {
                                "type": "boolean",
                                "description": "Indica se é a conta padrão"
                              },
                              "possui_config_boleto_bancario": {
                                "type": "boolean",
                                "description": "Indica se a conta possui configuração de boleto bancário"
                              },
                              "agencia": {
                                "type": "string",
                                "description": "Agência da conta"
                              },
                              "numero": {
                                "type": "string",
                                "description": "Número da conta"
                              }
                            }
                          },
                          "notificacao_cobranca": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid",
                                "example": "35473eec-4e74-11ee-b500-9f61de8a8b8b"
                              },
                              "solicitacao_cobranca_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "format": "uuid"
                                }
                              },
                              "versao": {
                                "type": "integer",
                                "format": "int64"
                              },
                              "enviado_em": {
                                "type": "string",
                                "format": "date",
                                "example": "01/01/2030"
                              },
                              "aberto_em": {
                                "type": "string",
                                "format": "date",
                                "example": "01/01/2030"
                              },
                              "itens_notificacao_cobranca": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid",
[...]
